@import "tailwindcss";

body {
  font-family: var(--font-pretendard), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-suite), sans-serif;
}

:lang(en),
*[lang="en"] {
  font-family: var(--font-montserrat), sans-serif;
}

:root {
  --space-mobileMax: 320px;
}